<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wrapper>
    <window>
        <height>402.0</height>
        <width>748.0</width>
        <x>435.0</x>
        <y>202.0</y>
    </window>
    <servers>
        <server>
            <host>10.64.33.95</host>
            <port>22</port>
            <account>eservice</account>
            <password>eservice</password>
            <expanded>true</expanded>
            <logs>
                <logPath>
                    <path>/wls/eservice/ESFRONT/logs/FRServer1_console.log</path>
                </logPath>
                <logPath>
                    <path>2222</path>
                </logPath>
            </logs>
        </server>
        <server>
            <host>10.64.33.295</host>
            <port>22</port>
            <account>eservice</account>
            <password>eservice</password>
            <expanded>true</expanded>
            <logs>
                <logPath>
                    <path>3333</path>
                </logPath>
                <logPath>
                    <path>44444</path>
                </logPath>
            </logs>
        </server>
    </servers>
</wrapper>
