<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<wrapper>
    <window>
        <height>521.0</height>
        <width>793.0</width>
        <x>347.0</x>
        <y>201.0</y>
    </window>
    <servers>
        <server>
            <name>10.64.33.95 (logs)</name>
            <host>10.64.33.95</host>
            <port>22</port>
            <account>eservice</account>
            <password>eservice</password>
            <expanded>true</expanded>
            <logs>
                <logPath>
                    <path>/wls/eservice/ESFRONT/logs/FRServer1_console.log</path>
                </logPath>
                <logPath>
                    <path>2222</path>
                </logPath>
            </logs>
        </server>
        <server>
            <name>aaabbcccdd</name>
            <host>10.64.33.295</host>
            <port>22</port>
            <account>eservice</account>
            <password>eservice</password>
            <expanded>true</expanded>
            <logs>
                <logPath>
                    <path>qqqq</path>
                </logPath>
                <logPath>
                    <path>wwwww</path>
                </logPath>
                <logPath>
                    <path>111</path>
                </logPath>
                <logPath>
                    <path>222</path>
                </logPath>
            </logs>
        </server>
        <server>
            <name>dd</name>
            <host>dd</host>
            <port>0</port>
            <account>dfdaf</account>
            <expanded>false</expanded>
            <logs/>
        </server>
    </servers>
</wrapper>
