.main > .split-pane > .split-pane-divider {
    -fx-padding: 0 1 0 0;
}

.main .tree-view {
    -fx-focus-traversable: false;
}

.dark-line-number {
    -fx-text-fill: white;
    -fx-background-color: #222222;
}